<div class="container">
  <h1 style="width: 11.5em; margin-left: 1.1em" class="mb-4 mt-5 font-monospace">Découvrez notre sélection</h1>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-4 p-2">
        <div class="card mx-5 mb-5 $border-radius border border-primary" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; position: relative; overflow: hidden;">
          <div style="position: relative;">
            <%= image_tag(car.poster_url, alt: "", class: "card-img-top", style: "height: 20.5em; object-fit: cover; filter: brightness(65%);") %>
            <p class="position-absolute bottom-0 end-0 m-3 text-light">Note : <%= car.rating %>/5</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="card-title font-monospace fs-3 mb-0"><%= car.name %></p>
              <p class="m-0"><%= car.price %>€/jour</p>
            </div>
              <p class="card-text" style="height: 4em;"><%= car.overview %></p>
              <% if car.id.present? %>
                <%= link_to "Louer moi", car_path(car), class: "btn btn-primary mb-3 w-100 font-monospace fs-4", style: "box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;" %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
